@using FantasyGenerator.Core.Models.Race;
@using Microsoft.AspNetCore.Identity;
@model RaceCreateViewModel
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create new Race";
    var user = await UserManager.FindByNameAsync(User.Identity?.Name);
}

<link rel="stylesheet" href="/text.css" type="text/css" />
<h1 class="text-center">@ViewData["Title"]</h1>
<form class="mx-auto half-width col-5" method="post">
    <input type="hidden" name="AuthorId" value="@user.Id" />
    <div class="top-border-line primary-separator"></div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter new Race name ..." name="Name">
    </div>
    <div class="form-group">
        <label for="price">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description for race ..." name="Description">
    </div>
    <div class="form-group">
        <label for="price">Feats</label>
        <input type="text" class="form-control" id="feats" placeholder="Feats for race ..." name="Feats">
    </div>
    <div class="form-group">
        <label for="price">Skills</label>
        <input type="text" class="form-control" id="skills" placeholder="Skills for race ..." name="Skills">
    </div>
    <div class="top-border-line primary-separator"></div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn SMS-bg-color">Create</button>
    </div>
</form>
