@using FantasyGenerator.Core.Constants;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FantasyGenerator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FantasyGenerator.styles.css" asp-append-version="true" />

    @*   <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css" />*@


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Head", false)
</head>
<body>
    <header>
        <nav id="firstNavBar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FantasyGenerator</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <partial name="_LeyoutNavPartial" />
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

        <div id="secondNavBar1" style="display: block;">
            <partial name="_RaceNavPartial" />
        </div>
        <div id="secondNavBar2" style="display: none;">
            <partial name="_ProfessionNavPartial" />
        </div>
       @* <a onclick="toggleSecondNavBar('secondNavBar1')">Покажи/Скрий NavBar 1</a>
        <a href="javascript:void(0);" onclick="toggleSecondNavBar('secondNavBar2')">Покажи/Скрий NavBar 2</a>*@

        <!-- И така нататък за другите "secondNavBar" елементи -->

       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FantasyGenerator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <partial name="_UserMessages" />*@
    @*@await RenderSectionAsync("Scripts", false)*@






    @*<script>
        document.addEventListener('DOMContentLoaded', function () {
            var firstNavLinks = document.querySelectorAll('#firstNavBar a.nav-link');
            var secondNavBars = document.querySelectorAll('.secondNavBar');

            firstNavLinks.forEach(function (link) {
                link.addEventListener('click', function () {
                    var selectedSecondNavBar;

                    console.log("opaaa")

                    if (link.textContent.trim() === 'Race') {
                        selectedSecondNavBar = document.querySelector('#secondNavBar1');
                        console.log("Race")
                    } else if (link.textContent.trim() === 'Privacy') {
                        selectedSecondNavBar = document.querySelector('#secondNavBar2');
                        console.log("Privacy")
                    }

                    console.log(selectedSecondNavBar)

                    secondNavBars.forEach(function (navBar) {
                        if (navBar === selectedSecondNavBar) {
                            navBar.style.display = 'block';
                            document.getElementById('secondNavBar1').style.display = 'block';

                        } else {
                            navBar.style.display = 'none';
                            document.getElementById('secondNavBar2').style.display = 'none';
                        }
                    });
                });
            });
        });
    </script>
*@




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
