@using FantasyGenerator.Core.Constants;

@if(User.IsInRole(UserConstants.Roles.Administrator))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="manageusers">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Race" asp-action="ShowAllRaces">Races</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Profession" asp-action="ShowAllProfession">Professions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Npc" asp-action="ShowAllNpc">All Npc</a>
    </li>
}
else if(User.IsInRole(UserConstants.Roles.User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="javascript:void(0);" onclick="redirectToPageAndExecuteScript('@Url.Action("ShowAllRaces", "Race")', 'secondNavBar1')">Race</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="javascript:void(0);" onclick="redirectToPageAndExecuteScript('@Url.Action("ShowAllProfession", "Profession")', 'secondNavBar2')">Profession</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="javascript:void(0);" onclick="redirectToPageAndExecuteScript('@Url.Action("ShowAllNpc", "Npc")', 'secondNavBar3')">Npc</a>
    </li>
}


<script>
    function redirectToPageAndExecuteScript(url, navBarId) {

        var secondNavBar = document.getElementById(navBarId);

        if (secondNavBar.style.display === 'none') {
            secondNavBar.style.display = 'block';
        } else {
            secondNavBar.style.display = 'none';
        }
    }
</script>

