@using FantasyGenerator.Core.Constants;

@if(User.IsInRole(UserConstants.Roles.Administrator))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="manageusers">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
}
else if(User.IsInRole(UserConstants.Roles.User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Race" asp-action="CreateNewRace">Race</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
}


