@using FantasyGenerator.Core.Constants;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager

@if (User.IsInRole(UserConstants.Roles.User))
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Npc" asp-action="ShowAllNpc">All Npc</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Npc" asp-action="ShowMyNpc" asp-route-userId="@UserManager.GetUserId(User)">My Npc</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Npc" asp-action="CreateNewNpc">Create Npc</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Npc" asp-action="CreateNewNpcName">Add Npc name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Npc" asp-action="CreateNewNpcCategoryName">Add Npc Category name</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}