@using FantasyGenerator.Core.Models;
@model UserRolesViewModel;

<div class="row">
    <div class="col-4">
        <input type="hidden" name="Id" value="@Model.UserId" />
        <form id="edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        @*    <div class="form-floating">
                <input asp-for="PhoneNumber" class="form-control" autocomplete="phonenumber" aria-required="true" />
                <label asp-for="PhoneNumber" class="form-label"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>*@
            <div class="row">
                <!-- /.col -->
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>



<div class="form-group" data-select2-id="29">
    <label>Multiple</label>
    <select class="select2 select2-hidden-accessible" multiple="" data-placeholder="Select a State" style="width: 100%;" data-select2-id="7" tabindex="-1" aria-hidden="true">
        <option data-select2-id="35">Alabama</option>
        <option data-select2-id="36">Alaska</option>
        <option data-select2-id="37">California</option>
        <option data-select2-id="38">Delaware</option>
        <option data-select2-id="39">Tennessee</option>
        <option data-select2-id="40">Texas</option>
        <option data-select2-id="41">Washington</option>
    </select><span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" data-select2-id="8" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="false"><ul class="select2-selection__rendered"><li class="select2-selection__choice" title="California" data-select2-id="61"><span class="select2-selection__choice__remove" role="presentation">×</span>California</li><li class="select2-selection__choice" title="Delaware" data-select2-id="62"><span class="select2-selection__choice__remove" role="presentation">×</span>Delaware</li><li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" role="searchbox" aria-autocomplete="list" placeholder="" style="width: 0.75em;"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</div>